**/bin/*
**/dnt
*.aes
*.ali
*.beam
*.dump
*.exe
*.fasl
*.hi
*.o
*.out
*.swo
*.swp
*.vim
*cabal-dev
*deployment_working_directory*
*dist
*release*.boot
*release*.script
*release*.tar.gz
*~
carbon_toolchain*
massif.out.*
