@font-face { 
  font-family: Roboto Light;
  src: url(./fonts/Roboto/Roboto-Light.ttf);
  }

@font-face { 
  font-family: DejaVu Sans Mono ;
  src: url(./fonts/DejaVu/DejaVuSansMono.ttf);
  }


body { 
  font-family : Roboto Light ;
  font-size: 1em;
  }

.debug {
  font-size: 0.7em;
  margin: 0px;
  border: 0px solid #ffcc00;
  border-radius: 5px;
  background: #ffcc00; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffcc00 0%, #ffff00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffcc00), color-stop(100%,#ffff00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffcc00 0%,#ffff00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffcc00 0%,#ffff00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffcc00 0%,#ffff00 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffcc00 0%,#ffff00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ffff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

.debug, .debug * { 
  font-family : DejaVu Sans Mono ;
  }

.debug b {
  border: 1px solid #ffe000;
  border-radius: 5px;
  background: #ffbb00; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffbb00 0%, #ffff00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffbb00), color-stop(100%,#ffff00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffbb00 0%,#ffff00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffbb00 0%,#ffff00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffbb00 0%,#ffff00 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffbb00 0%,#ffff00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb00', endColorstr='#ffff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

.debug span {
  transition: font-size 0.1s, background 0.1s;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition: font-size 0.1s, background 0.1s;
  }

.debug span:hover {
  --font-size: 1.3em;
  background: #ffaa00
  }

.debug .type-signature {
  font-size: 0.6em;
  background:#0000ff;
  color:#fff;
  }

.debug .type-signature:hover {
  font-size: 1em;
  background:#0000ff;
  }
